h1, h2, h3, h4 {
	font-family: "Roboto Condensed";
}

h1 {
	font-size: 28px;
	line-height:1em;
	color:#fff;
	font-weight: bold;
}

h2 {
	font-size: 2rem;
	font-weight: bolder;
	color: #024959;
	margin-top:1em;
	float:left;
}

h3 {
	font-size:1.5rem;
}

h4 {
	font-weight:normal;
	font-style: italic;
	color: #686868;
	font-size:1.2em;
}

body {
	background:#F2EFDC;
}

#header {
	background:#363636;
	color:#FFFFFF;
	padding:1em 0;
}

#sub-navigation {
	background:#024959;
	padding-top:1em;
	border-radius:0px 0px 3px 3px;
}

#sub-navigation > div {
	text-align:center;
}

#sub-navigation > div > a {
	display:block;
	padding:1em 0;
	color:#FFFFFF;
	background:#037E8C;
	font-size:1.2em;
	font-weight:bold;
	border-radius:3px 3px 0px 0px;
}

#sub-navigation > div > a.current-nav {
	color:#363636;
	background:#F2EFDC;
}

#home-button {
	text-align:center;
}

#account {
	text-align:right;
}

#account a {
	background:#E74C30;
	color:#FFFFFF;
	padding:.5em 1em;
	float:right;
	border-radius:3px;
}

#main {

}

#main > div {
	margin-top:1em;
}

.content-link {
	box-shadow: 0px 0px 5px #969696;
	background: #fcfcfc;
	float: left;
	width: 100%;
	margin: 0 0 1em 0;
	border-radius:3px;
}

.content-link.condensed {
	margin:0;
	border-radius:0px;
}

.content-link.condensed:first-of-type {
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}

.content-link.condensed:last-of-type {
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}

.content-link h4 {
	font-style: normal;
	font-size:1em;
	padding-top:.5em;
	line-height:.8em;
}

.content-option i {
	float:left;
	padding:.5em;
}

.progress-tracker {
	background: #6ca;
	width: 50%;
	height: 5px;
	margin-top: 1em;
	float: left;
	clear:both;
}

.progress-tracker.low-percent {
	width:6%;
}

span::after {
	content: "50% (10/20)";
	float: right;
	color: #6ca;
	margin-top: -1em;
	font-weight: bold;
	font-size:smaller;
}

span.low-percent::after { content:"6%";}

.checked {
	background: #66CCAA;
	color: #fff;
	text-align: center;
	padding:.5em 0;
}

.unchecked {
	opacity: .25;
	background: #66CCAA;
	color: #fff;
	text-align: center;
	padding:.5em 0;
}

.explore-link {
	color: #fff;
	background: #e74c30;
	padding: 1em .5em;
	text-align: center;
	margin: .25em;
	border-radius:3px;
}
.unchecked * {
	opacity: .75
}