h1, h2, h3, h4 {
	font-family: "Roboto Condensed";
}

h1 {
	font-size: 28px;
	line-height:1em;
	color:#fff;
	font-weight: bold;
}

h1 a { color:#eee; } h1 a:hover { color:#fff; }

h2 {
	font-size: 2rem;
	font-weight: bolder;
	color: #024959;
	margin-top:1em;
	float:left;
}

h3 {
	font-size:1.5rem;
}

h4 {
	font-weight:normal;
	font-style: italic;
	color: #686868;
	font-size:1.2em;
}

body {
	background:#F2EFEC;
}


#header {
	background:#363636;
	color:#FFFFFF;
	padding:1em 0;
}

#sub-navigation {
	background:#024959;
	padding-top:1em;
	border-radius:0px 0px 3px 3px;
}

#sub-navigation > div {
	text-align:center;
}

#sub-navigation > div > a {
	display:block;
	padding:1em 0;
	color:#FFFFFF;
	background:#037E8C;
	font-size:1.2em;
	font-weight:bold;
	border-radius:3px 3px 0px 0px;
}

#sub-navigation > div > a.current-nav {
	color:#363636;
	background:#F2EFEC;
}

#sub-navigation > div > a.current-nav:hover { background: #F2EFEC ;}

#sub-navigation > div > a:hover {
	background:#239EAC;
}


#home-button {
	text-align:center;
}

#home-button a {
	color:#eee;
}

#home-button a:hover {
	color:#fff;
}

#account {
	text-align:right;
}

#account a {
	padding:.5em 1em;
	float:right;
}

#home-blurb {
	position:absolute;
	top:-300px;
}

#home-blurb h2 {
	color:#fff;
	font-size:3em;
	text-shadow:0px 2px 0px #363636;
}

#main > div {
	margin-top:1em;
}

.content-link {
	box-shadow: 0px 0px 5px #969696;
	background: #fcfcfc;
	float: left;
	width: 100%;
	margin: 0 0 1em 0;
	border-radius:3px;
	overflow:hidden;
}

.content-link.condensed {
	margin:0;
	border-radius:0px;
}

.content-link.condensed:first-of-type {
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}

.content-link.condensed:last-of-type {
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}

.content-link h4 {
	font-style: normal;
	font-size:1em;
	padding-top:.5em;
	line-height:.8em;
}

.content-option i {
	float:left;
	padding:.5em;
}

.checked {
	background: #66CCAA;
	color: #fff;
	text-align: center;
	padding:.5em 0;
}

.unchecked {
	opacity: .25;
	background: #66CCAA;
	color: #fff;
	text-align: center;
	padding:.5em 0;
}

.explore-link {
	padding: 1em .5em;
	margin: .25em;
}
.unchecked * {
	opacity: .75
}

a.attention-link {
	color: #fff;
	background: #e74c30;
	text-align: center;
	border-radius:3px;
}

a.attention-link:hover {
	color: #fff;
	background: #ff6c50;
	text-align: center;
	border-radius:3px;
}

a.attention-link.green {
	background:#4c8;
	font-weight:bold;
	padding:1em;
	margin-top:1em;
	float:left;
}

a.attention-link.green:hover {
	background:#6ca;
}

a.attention-link.green-button {
	background:#4c8;
	font-weight:bold;
	padding:1em;
	float:left;
}

a.attention-link.green-button:hover {
	background:#6ca;
}


@media all and (max-width: 64.063em) {

	#home-blurb {
		top:-275px;
	}

	#home-blurb h2 {
		color:#fff;
		font-size:2em;
		text-shadow:0px 1px 0px #363636;
	}
}
