{% load staticfiles %}
<!Doctype HTML>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Domine|Roboto+Condensed' rel='stylesheet' type='text/css'>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="{% static "libs/foundation/css/foundation.min.css" %}" rel="stylesheet" />
	<link href="{% static "styles/main.css" %}" rel="stylesheet" />
	{% block styles %}{% endblock %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	{% block scripts %}{% endblock %}
	<title>{% block title %}Gospel Study Tracker{% endblock %}</title>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=585165484924345";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="row" id="header">
  <div class="small-4 large-10 columns"><h1><a href="/">Logo</a></h1></div>
  <div class="small-4 large-1 columns" id="home-button"><a href="/home/"><i class="fa fa-home fa-2x"></i></a></div>
  <div class="small-4 large-1 columns" id="account">
    {% if request.user.is_authenticated %}
      <a href="/logout/" class="attention-link">Logout</a>
    {% else %}
      <a href="/login/facebook/" class="attention-link">Login</a>
    {% endif %}
  </div>
</div>
{% block sub_navigation %}{% endblock %}
<div id="main" class="row">
{% block content %}{% endblock %}
</div>
</body>
</html>
