{% extends "tracker/base.html" %}

{% block title %} General Conference - All talks from {{ folder }} {% endblock %}

{% block sub_navigation %}
<div id="sub-navigation" class="row">
    <div class="small-4 large-2 columns">
      <a href="/general-conference/sessions/">Sessions</a>
    </div>
    <div class="small-4 large-2 columns">
      <a href="/general-conference/speakers/">Speaker</a>
    </div>
    <div class="small-4 large-2 columns end">
      <a href="/general-conference/topics/">Topic</a>
    </div>  
  </div>
</div>
{% endblock %}
{% block content %}
<h2 class="columns small-12">Talks from {{ folder }}</h2>
{% for talk in talks %}
  <div class="small-12 large-6 columns end">
    <div class="content-link">
      <div class="columns small-10">
        <h3>{{ talk.title }}</h3>
        <h4>{{ talk.author }}</h4>
      </div>
      <div class="unchecked columns small-2">
        <i class="fa fa-check fa-4x"></i>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}
