{% extends "tracker/base.html" %}
{% load static %}

{% block title %} General Conference - Sort by {{ sort_by }} {% endblock %}

{% block scripts %}
<script src="{% static "libs/giraph/DataSet.js" %}"></script>
<script src="{% static "libs/giraph/Graph.js" %}"></script>
<script src="{% static "libs/giraph/Point.js" %}"></script>
<script src="{% static "scripts/drawgraphs.js" %}"></script>
{% endblock %}

{% block sub_navigation %}
<div id="sub-navigation" class="row">
    <div class="small-4 large-2 columns">
      <a href="/general-conference/sessions/"{% if sort_by == "session" %} class="current-nav" {% endif %}>Sessions</a>
    </div>
    <div class="small-4 large-2 columns">
      <a href="/general-conference/speakers/"{% if sort_by == "speaker" %} class="current-nav" {% endif %}>Speaker</a>
    </div>
    <div class="small-4 large-2 columns end">
      <a href="/general-conference/topics/"{% if sort_by == "topic" %} class="current-nav" {% endif %}>Topic</a>
    </div>  
  </div>
</div>
{% endblock %}
{% block content %}
<h2 class="columns small-12">Choose a {{ sort_by }}</h2>
{% for category in categories %}
<a href="/general-conference/{{ sort_by }}s/{{ category }}/">
  <div class="columns small-12 large-6 end">  
    <div class="content-link">
      <div class="columns small-8">
          <h3>{{ category }}</h3></a>
      </div>
      <div class="completion-ratio columns small-4">
        <span>{{ category.num_completed }}/{{ category.num_total }}</span>
        <canvas width="50" height="50"></canvas>
      </div>
      
    </div>
  </div>
</a>

{% endfor %}

{% endblock %}
