{% extends "tracker/base.html" %}
{% load static %}

{% block title %} General Conference - Sort by {{ sort_by }} {% endblock %}

{% block scripts %}
<script src="{% static "scripts/drawgraphs.js" %}"></script>
{% endblock %}

{% block sub_navigation %}
<div id="sub-navigation" class="row">
    <div class="small-6 large-2 columns">
      <a href="/general-conference/sessions/"{% if sort_by == "session" %} class="current-nav" {% endif %}>Sessions</a>
    </div>
    <div class="small-6 large-2 columns end">
      <a href="/general-conference/speakers/"{% if sort_by == "speaker" %} class="current-nav" {% endif %}>Speaker</a>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<h2 class="columns small-12">Choose a {{ sort_by }}</h2>
{% for category in categories %}
<a href="/general-conference/{{ sort_by }}s/{{ category }}/">
  <div class="columns small-12 large-6 end">  
    <div class="content-link">
      <div class="columns {% if request.user.is_authenticated %}small-10{% else %}small-12{% endif %}">
          <h3>{% if category.display_name %}{{ category.display_name }}{% else %}{{ category }}{% endif %}</h3></a>
      </div>
      {% if request.user.is_authenticated %}
      <div class="completion-ratio columns small-2">
        {{ category.num_completed }}/{{ category.num_total }}
      </div>
      {% endif %}
      <span class="progress-tracker"></span>
    </div>
  </div>
</a>

{% endfor %}

{% endblock %}
