{% extends "tracker/base.html" %}
{% load static %}

{% block title %} Gospel Study Tracker App {% endblock %}

{% block content %}
	<img src="{% static "images/temple.jpg" %}" />
	<div style="position:relative;">
	<div id="home-blurb" class="small-6 small-offset-6">	
		<h2>Easily track, discover, and share gospel content.</h2>
		<a class="attention-link explore-link green" href="/general-conference/sessions/">Get started &raquo;</a>
	</div>
	</div>
	<div class="small-12 large-6 columns">
		<h2>Popular Now</h2>
		{% for talk in most_popular %}
        <a href="/general-conference/talks/{{ talk.getUrlPostfix }}">
         <div class="condensed content-link">
           <div class="columns small-12">
              <h3>{{ talk.title }}</h3>
              <h4>{{ talk.author }}</h4>
            </div>
          </div>
        </a>
        {% endfor %}
		
	</div>
	<div class="small-12 large-6 columns">
		<h2>Browse General Conference</h2>
		<div class="condensed content-link">
			<a href="/general-conference/sessions/">
				<div class="columns small-12">
					<h3>By Session</h3>
				</div>
			</a>
		</div>

		<div class="condensed content-link">
			<a href="/general-conference/speakers/">
				<div class="columns small-12">
					<h3>By Speaker</h3>
				</div>
			</a>
		</div>
		
		<!--<div class="condensed content-link">-->
			<!--<a href="/general-conference/topics/">-->
				<!--<div class="columns small-12">-->
					<!--<h3>By Topic</h3>-->
				<!--</div>-->
			<!--</a>-->
		<!--</div>-->
		<a href="/general-conference/sessions" class="explore-link attention-link columns small-4 end" style="margin-top:20px;	">Explore All Talks &raquo;</a>
	</div>

{% endblock %}
