{% extends "tracker/base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
  <div class="small-12 large-6 columns">
    <div>
      <h2>Progress</h2>
      <a href="/general-conference/sessions">
        <div class="condensed content-link">
          <div class="columns small-12">
            <h3>All Talks</h3>
          </div>
        </div>
      </a>
    </div>
    <div>
      <h2>Recently Completed</h2>
      {% for completed in completed_items %}
      <a href="/general-conference/talks/{{completed.content.conferencetalk.simpleTitle}}">
        <div class="condensed content-link">
          <div class="columns small-12">
            <h3>{{ completed.content.conferencetalk.title }}</h3>
            <h4>{{ completed.content.conferencetalk.author }}</h4>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="small-12 large-6 columns">
    <h2>Popular Now</h2>
   {% for talk in most_popular %}
        <a href="/general-conference/talks/{{talk.simpleTitle}}">
         <div class="condensed content-link">
           <div class="columns small-12">
              <h3>{{ talk.title }}</h3>
              <h4>{{ talk.author }}</h4>
            </div>
          </div>
        </a>
        {% endfor %}
  </div>

  <div class="small-12 large-6 columns end">
    <h2 class="columns small-12">All Talks</h2>
    <a href="/general-conference/sessions" class="explore-link attention-link columns small-4 end">Explore &raquo;</a>
  </div>
{% endblock %}
